a {
  text-decoration: none;
}

.body {
  background-color: #fff;
  color: #fff;
}

.phonecontainer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 600px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.stylize {
  display: none;
  margin: 50px auto 5px;
  padding-top: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  background-image: linear-gradient(60deg, #f6a9db, #c1b8ff 50%, #9bf4ff);
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.mainsection {
  display: block;
  width: 100%;
  height: 850px;
  max-height: 850px;
  min-height: 850px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid-3 {
  width: 90%;
  max-width: 600px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  grid-row-gap: 0px;
  -ms-grid-columns: minmax(300px, 800px);
  grid-template-columns: minmax(300px, 800px);
  grid-template-rows: repeat(auto-fit, 91px) 60px 120px 129px;
}

.heading2 {
  display: none;
  margin: 10px auto 20px;
  padding-right: 24px;
  padding-left: 24px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: center;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  color: #999ba4;
  font-size: 12px;
  text-align: center;
}

.sayhello {
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  border-radius: 20px;
  font-family: urbane-rounded, sans-serif;
  color: #000;
  font-size: 21px;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
}

.sayhello.love {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
  background-image: linear-gradient(180deg, #000, #fff);
}

.name {
  padding-left: 15px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.name.madewith {
  margin-right: 10px;
  padding-right: 0px;
  padding-left: 0px;
  color: #49566e;
  font-size: 12px;
  font-weight: 600;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.get-app {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: right;
}

.text-span {
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.phonegradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(73%, transparent), color-stop(89%, #000));
  background-image: linear-gradient(180deg, transparent 73%, #000 89%);
}

.bottomtext {
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #999ba4;
  font-size: 16px;
  line-height: 38px;
  font-weight: 300;
  text-align: center;
}

.bottomtext.bottomtextand {
  cursor: none;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  width: 800px;
}

.video {
  position: relative;
  z-index: 3;
  display: block;
  overflow: hidden;
  width: auto;
  height: 800px;
  max-height: none;
  min-height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 1;
  -o-object-fit: contain;
  object-fit: contain;
}

.phonecontainerbackground {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 850px;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/ShadowLeft.png');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.downloadapp {
  width: 174px;
  padding: 3px;
  border-radius: 13px;
  cursor: pointer;
}

.downloadapp.downloadapphover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffecdd), color-stop(33%, #f6a9db), color-stop(66%, #fbd5ed), to(#9bf4ff));
  background-image: linear-gradient(90deg, #ffecdd, #f6a9db 33%, #fbd5ed 66%, #9bf4ff);
}

.madeby {
  display: block;
  margin: 60px auto 10px;
  padding-top: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  background-image: linear-gradient(60deg, #f6a9db, #f6a9db, #c1b8ff 50%, #9bf4ff);
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.footerdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-background {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.html-embed {
  display: none;
}

.image-2 {
  width: 44px;
  height: 44px;
  max-width: none;
}

.image-2.madewith {
  width: 25px;
  height: 25px;
}

.placeholderimage {
  position: absolute;
  z-index: 2;
  width: auto;
  height: 800px;
  max-width: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.text-span-2 {
  font-family: Nunito, sans-serif;
  font-weight: 800;
}

.gradienttext {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.gradienttext.gradienttextactive {
  background-image: linear-gradient(60deg, #f6a9db, #c1b8ff 50%, #9bf4ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradienttext.sayhellotext {
  font-size: 18px;
}

.heading {
  margin: 0px 10px 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: urbane-rounded, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 600;
}

.twitterprofile {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.text-span-3 {
  font-size: 40px;
}

.detailtext {
  display: block;
  max-width: 60ch;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  font-family: Nunito, sans-serif;
  color: #49566e;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.madewithpopframe {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading2-phone {
  display: block;
  max-width: 30ch;
  margin: 10px auto 20px;
  padding-right: 24px;
  padding-left: 24px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 55px;
  font-weight: 800;
  text-align: center;
}

.detailtextphone {
  display: none;
  max-width: 60ch;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  font-family: Nunito, sans-serif;
  color: #49566e;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.link-block {
  margin-top: 30px;
  margin-bottom: 100px;
}

.galleryimage {
  border-radius: 10px;
}

.column {
  padding-right: 10px;
  padding-left: 10px;
}

.columns {
  display: none;
  overflow: auto;
  max-width: 800px;
  -o-object-fit: fill;
  object-fit: fill;
}

.grid-4 {
  width: 900px;
  padding-right: 10px;
  padding-left: 10px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.scroll_div {
  overflow: auto;
}

.sizzleholder {
  position: relative;
  display: none;
  overflow: hidden;
  width: 90%;
  height: 500px;
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.09);
}

.sizzle {
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.play {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  max-width: none;
  margin-top: 45%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .phonecontainer {
    max-width: 100vw;
  }

  .stylize {
    display: none;
  }

  .mainsection {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .phonecontainer {
    width: 100%;
  }

  .stylize {
    margin: 0px;
  }

  .mainsection {
    max-height: 190vw;
    min-height: 190vw;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .heading2 {
    display: none;
    font-size: 24px;
    line-height: 40px;
  }

  .sayhello {
    font-size: 30px;
  }

  .get-app {
    width: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .bottomtext {
    margin-bottom: 0px;
    font-size: 13px;
  }

  .bottomtext.bottomtextand {
    display: none;
  }

  .video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    height: auto;
  }

  .phonecontainerbackground {
    min-height: auto;
    min-width: auto;
    background-size: 138%;
  }

  .madeby {
    margin-top: 80px;
  }

  .footerdiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .placeholderimage {
    width: 85%;
    height: auto;
    min-height: auto;
    min-width: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .gradienttext.sayhellotext {
    display: none;
  }

  .text-span-3 {
    font-size: 25px;
  }

  .detailtext {
    display: none;
    margin-bottom: 30px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 16px;
  }

  .heading2-phone {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .detailtextphone {
    display: block;
    margin-bottom: 30px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 16px;
  }

  .link-block {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .column {
    padding-right: 5px;
    padding-left: 5px;
  }

  .columns {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .scroll_div {
    overflow: auto;
    max-width: 100vw;
  }

  .sizzleholder {
    width: 90vw;
    height: 90vw;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .play {
    margin-top: 40%;
  }
}

#w-node-_1c2382d0-c633-3829-6857-ad352bae7bf4-98ed0959 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: center;
  justify-self: center;
}

