a {
  text-decoration: none;
}

.body {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
}

.heading {
  margin: 100px auto;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: center;
}

.name {
  padding-left: 15px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-background {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.html-embed {
  display: none;
}

.image-2 {
  width: 44px;
  height: 44px;
  max-width: none;
}

.detailtext {
  display: block;
  margin-top: 0px;
  font-family: Nunito, sans-serif;
  color: #49566e;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
}

.heading2 {
  margin-top: 80px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
}

.section {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-bottom: 150px;
  padding-left: 40px;
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 45px;
  }

  .detailtext {
    margin-bottom: 30px;
  }

  .heading2 {
    margin-top: 60px;
    font-size: 30px;
    line-height: 40px;
  }
}

#w-node-_1c2382d0-c633-3829-6857-ad352bae7bf4-dd3d0ae4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: center;
  justify-self: center;
}

